:root {
  --offer-section-height: 1029px;
}

.offer-section {
  height: var(--offer-section-height);
  margin-top: 31px;
  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: column;
}

.offer-section > .background {
  width: 1920px;
  height: 1024px;

  position: absolute;
  top: 0;
  left: 0;

  background-image: url("/public/assets/offer-background.png");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.offer-section > .glow-line {
  width: 1977px;
  height: 172px;

  position: absolute;
  bottom: 0;
  left: -74px;

  background-image: url("/public/assets/glow-line.png");
  background-position: 0px -74.312px;
  background-size: 100% 395.711%;
  background-repeat: no-repeat;
}

.offer-section > .section-grid {
  width: 1920px;
  height: var(--offer-section-height);

  display: grid;
  grid-template-columns: 960px 960px;
}

.offer-section > .section-grid > .vito-container {
  height: fit-content;
  width: fit-content;
  margin-right: 160px;
  justify-self: flex-end;
  position: relative;
}

.offer-section > .section-grid > .vito-container > .vito {
  width: 441px;
  height: 891px;

  position: relative;

  background-image: url("/public/assets/vito.png");
  background-position: -1032.641px -857.78px;
  background-size: 592.395% 293.076%;
  background-repeat: no-repeat;
}

.offer-section > .section-grid > .vito-container > .vito-backlight {
  width: 680px;
  height: 686px;

  position: absolute;
  top: 182px;
  left: -134px;

  border-radius: 686px;
  border: 1px solid #000;
  opacity: 0.2;
  background: #416DF4;
  mix-blend-mode: lighten;
  filter: blur(100px);
}

.offer-section > .section-grid > .right-side-flexbox {
  position: relative;
}

.offer-section > .section-grid > .right-side-flexbox > .header {
  height: 44px;
  margin-top: 27px;

  color: #416DF4;
  font-size: 30px;
  line-height: 35.16px;
}

.offer-section > .section-grid > .right-side-flexbox > .table {
  width: 632px;
  height: fit-content;
  margin-top: 35px;
}

.offer-section > .section-grid > .right-side-flexbox > .table > .header {
  width: 100%;
  height: 23px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 11px;
}

.offer-section > .section-grid > .right-side-flexbox > .table > .header > .name {
  width: 140px;
  height: 100%;

  border: 1px solid rgba(103, 29, 0, 0.48);
  background: rgba(0, 0, 0, 0.55);

  display: flex;
  align-items: center;
  justify-content: center;

  color: #671D00;
  font-size: 12px;
  line-height: 14.06px;
}

.offer-section > .section-grid > .right-side-flexbox > .table > .body {
  width: 100%;
  height: fit-content;
  margin-top: 9px;

  display: flex;
  flex-direction: column;
  gap: 1px;
}

.offer-section > .section-grid > .right-side-flexbox > .table > .body > .row {
  width: 100%;
  height: 74px;

  display: flex;
  align-items: center;

  border-radius: 1px;
  border: 1px solid rgba(103, 29, 0, 0.48);
  background: rgba(0, 0, 0, 0.55);
}

.offer-section > .section-grid > .right-side-flexbox > .table > .body > .row > .image {
  height: 100%;
  flex: 0 0 74px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.offer-section > .section-grid > .right-side-flexbox > .table > .body > .row > .label {
  height: 100%;
  flex: 0 0 257px;
  padding: 0 62px 0 14px;

  display: flex;
  align-items: center;
}

.offer-section > .section-grid > .right-side-flexbox > .table > .body > .row > .free-server-value {
  height: 100%;
  flex: 0 0 27px;
  margin-left: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.offer-section > .section-grid > .right-side-flexbox > .table > .body > .row > .subscription-server-value {
  height: 100%;
  flex: 0 0 72px;
  margin-left: 99px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.offer-section > .section-grid > .right-side-flexbox > .buy-offer-container {
  width: 444px;
  height: 323px;
  margin-top: 20px;
  margin-left: 3px;
  position: relative;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.offer-section > .section-grid > .right-side-flexbox > .buy-offer-container > .vito-box {
  width: 402px;
  height: 323px;

  position: absolute;
  top: 0;
  left: 0;

  background-image: url("/public/assets/box-vito.png");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.offer-section > .section-grid > .right-side-flexbox > .buy-offer-container > .buy-action-container {
  height: 110px;
  flex: 0 0 180px;
  margin-bottom: 57px;
  position: relative;
}

.offer-section > .section-grid > .right-side-flexbox > .buy-offer-container > .buy-action-container > .price {
  width: 167px;
  height: 79px;

  position: absolute;
  top: 0;
  left: 0;

  font-size: 50px;
  line-height: 58.59px;
}

.offer-section > .section-grid > .right-side-flexbox > .buy-offer-container > .buy-action-container > .button-buy {
  width: 180px;
  height: 40px;

  border: 0;
  border-radius: 7px;
  background-color: #FCFF00;

  position: absolute;
  right: 0;
  bottom: 0;

  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
}
